<h3>New Category</h3>
<form action="/categories" method="post">
  <input type="text" name="category-name" value="" class="form-control" placeholder="Category Name" required>
  <br>
  <button class="btn btn-default btn-md" type="submit">Add Category</button>
</form>
