<h3>Categories</h3>
@if (Model.Length == 0)
{
  <p>There are no categories to display</p>
}
else
{
  <ul>
  @foreach(var category in Model)
  {
    <li><a href="/categories/@category.GetId()">@category.GetName()</a>
  }
  </ul>
}
<form action="/categories/clear" method="post">
  <button class="btn btn-default btn-md" type="submit">Clear Categories</button>
</form>
