@{
  Layout="Shared/_Layout.cshtml";
}

<h3>All Tasks</h3>
<br>
@foreach(var category in Model)
{
  @{
    var categoryTasks = Model.GetAll();
  }
 <h4>@category.GetName()</h4>
 @if (categoryTasks.Count == 0)
 {
   <p>There are no tasks in this category</p>
 }
 else
 {
   <ul>
   @foreach (var task in categoryTasks)
   {
     <li>@task.GetDescription()</li>
   }
   </ul>
 }
}
